@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

body {
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1440px;
    min-height: 350px;
    margin: 0 auto;
    padding: 0 24px;
    font-family: "Nunito Sans", sans-serif;
  }

.logo{
    position: absolute;
    left: 91px;
    right: 4px;
    width: 72px;
    height: 72px;
}
